<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tablaidiotica</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='switch.css') }}">
  
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <label class="switch">
    
    <input type="checkbox" id="nerd_switch">
    <span class="slider"></span>
  </label>
  <h1 class="text1">Valencias de los elementos</h1>
  <h1 class="text2">Elemento:</h1>
  
  <h1 class="element_name" id = "element_name">H</h1>
  <button id="myButton" class = "random_button">Random</button>
  <div class = "stats_container">
    
    <h1 class="text3" id = "mistakes">Fallos: 0</h1>
    <h1 class="text3" id = "correct">Correctos: 0</h1>
    <h1 class="text3" id=  "score">Score: 0%</h1>
  </div>
  <div class="buttons_container">
    <button class="v_button" id="-4">-4</button>
    <button class="v_button" id="-3">-3</button>
    <button class="v_button" id="-2">-2</button>
    <button class="v_button" id="-1">-1</button>
    <button class="v_button" id="1">+1</button>
    <button class="v_button" id="2">+2</button>
    <button class="v_button" id="3">+3</button>
    <button class="v_button" id="4">+4</button>
    <button class="v_button" id="5">+5</button>
    <button class="v_button" id="6">+6</button>
    <button class="v_button" id="7">+7</button>
  </div>
  <div class="ellements_container" id="ellements_container">
    
  </div>
  <img id = "nerd" class = "nerd" src="{{ url_for('static', filename='nerd.png') }}"
     alt="NERD!">
    
  
  <!-- Link JS (defer ensures HTML elements load before JS runs) -->
 <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <!-- <div class="my-box" id="box1"> -->
  </div>
</body>
</html>
